{% extends 'hospital/doctor_base.html' %}
{% load static %}
{% block content %}
{%include 'hospital/doctor_dashboard_cards.html'%}
<br><br><br><br>
<div class="container">
  <div class="row" style="margin: 20px; font-size: 1.3em;">
    <form method="post" action="">
      <p>Mettre à jour le début/fin de votre service</p>
      <div>
        <input type="radio" id="debut" name="service" value="debut" onchange="updateService(true)">
        <label for="debut">Début du Service</label>
    
        <input type="radio" id="fin" name="service" value="fin" onchange="updateService(false)">
        <label for="fin">Fin du Service </label>
      </div>
      <div>
      </div>
    </form>
    <script>
      
      var url = "http://127.0.0.1:8000/updateservice";
      var doctorId = "{{id}}";
      if("{{service}}" == "True")  {
        document.getElementById('debut').checked = true;
        document.getElementById('fin').checked = false;
      }
      else {
        document.getElementById('debut').checked = false;
        document.getElementById('fin').checked = true;
      }
      function updateService(service){
        $.post( url, { 'service': service , 'id' :doctorId} );
        alert("Ton service a été bien mis à jour");
      }
    </script>
  </div>
  <div class="row">
    <div class="panel panel-primary" style="margin-left:15%;">
      <div class="panel-heading" style="text-align:center;">
        <h6 class="panel-title">Recent Appointments For You</h6>
      </div>
      <table class="table table-hover" id="dev-table">
        <thead>
          <tr>
            <th>Patient Name</th>
            <th>Picture</th>
            <th>Description</th>
            <th>Mobile</th>
            <th>Address</th>
            <th>Date</th>
          </tr>
        </thead>
        {% for a,p in appointments %}
        <tr>
          <td>{{a.patientName}}</td>
          <td> <img src="{% static p.profile_pic.url %}" alt="Profile Pic" height="40px" width="40px" /></td>
          <td>{{a.description}}</td>
          <td>{{p.mobile}}</td>
          <td>{{p.address}}</td>
          <td>{{a.appointmentDate}}</td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
</div>
<!--
developed By : sumit kumar
facebook : fb.com/sumit.luv
youtube : youtube.com/lazycoders
-->

{% endblock content %}
